:root {
    --bg-color: #363636;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
    margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

body {
    background-color: var(--bg-color);
    overflow-y: auto;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin: 3rem auto;
    background-color: honeydew;
    border-radius: 0.5rem;
    overflow: hidden;

    input {
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        outline: none;
        width: 25rem;
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0 0 0.5rem;
    }
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1.5rem;
    grid-row-gap: 4rem;
    padding: 1rem;
    margin: 0 5rem;

    .card {
        // outline: 1px solid blanchedalmond;
        background: #000;
        position: relative;
        height: 19rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        padding: 1rem;

        .card__img {
            width: 100%;
            height: 17rem;
            border-radius: 0.3rem;
            // outline: 1px solid red;
            // ring with blur
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
            overflow: hidden;
            position: absolute;
            top: -0.5rem;
            left: -0.5rem;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .card__content {
            color: #f7fdfe;
            position: relative;
            outline: 1px solid #f7fdfe;
            overflow: hidden;

            .tags {
                position: absolute;
            }
        }
    }
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #a8afb0;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f7fdfe;
}
